<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Detection</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1 class="header">Disease Prediction using Machine Learning</h1>
    <p>In today's fast-paced world, finding time for healthcare can be challenging. Often, even with severe symptoms,
        people hesitate to visit a doctor. Turning to Google for symptom searches often leads to generic results,
        providing only stereotypical disease suggestions. As a result, many individuals have grown reluctant to use
        Google for self-diagnosis.
        Addressing these issues, we've developed a model capable of predicting up to 42 diseases based on input
        symptoms. This model serves as a valuable tool for both doctors and patients. Doctors can use it for online
        consultations, while patients can leverage it for preventive diagnosis and self-care, especially considering the
        high costs associated with in-person doctor visits.
        Notably, our model prioritizes user privacy by not requiring personal data such as name, age, gender, religion,
        or address. Feel free to use this web application whenever you suspect you might be experiencing symptoms of a
        disease. The model will provide probable disease suggestions based on the symptoms, empowering you to make
        informed decisions about whether to seek professional medical advice.</p>
    <form action="/predict" method="post">
        <fieldset>
            <legend>Select the symptoms you are facing:</legend>
            <div class="container">
                <div>
                    <input type="checkbox" name="itching" value="itching">Itching<br>
                    <input type="checkbox" name="skin_rash" value="skin_rash">Skin Rash<br>
                    <input type="checkbox" name="nodal_skin_eruptions" value="nodal_skin_eruptions">Nodal Skin
                    Eruptions<br>
                    <input type="checkbox" name="continuous_sneezing" value="continuous_sneezing">Continuous
                    Sneezing<br>
                    <input type="checkbox" name="shivering" value="shivering">Shivering<br>
                    <input type="checkbox" name="chills" value="chills">Chills<br>
                    <input type="checkbox" name="joint_pain" value="joint_pain">Joint Pain<br>
                    <input type="checkbox" name="stomach_pain" value="stomach_pain">Stomach Pain<br>
                    <input type="checkbox" name="acidity" value="acidity">Acidity<br>
                    <input type="checkbox" name="ulcers_on_tongue" value="ulcers_on_tongue">Ulcers on Tongue<br>
                    <input type="checkbox" name="muscle_wasting" value="muscle_wasting">Muscle Wasting<br>
                    <input type="checkbox" name="vomiting" value="vomiting">Vomiting<br>
                    <input type="checkbox" name="burning_micturition" value="burning_micturition">Burning
                    Micturition<br>
                    <input type="checkbox" name="spotting_ urination" value="spotting_ urination">Spotting Urination<br>
                    <input type="checkbox" name="fatigue" value="fatigue">Fatigue<br>
                    <input type="checkbox" name="weight_loss" value="weight_loss">Weight Loss<br>
                    <input type="checkbox" name="restlessness" value="restlessness">Restlessness<br>
                    <input type="checkbox" name="lethargy" value="lethargy">Lethargy<br>
                    <input type="checkbox" name="patches_in_throat" value="patches_in_throat">Patches in Throat<br>
                    <input type="checkbox" name="cough" value="cough">Cough<br>
                    <input type="checkbox" name="high_fever" value="high_fever">High Fever<br>
                    <input type="checkbox" name="sunken_eyes" value="sunken_eyes">Sunken Eyes<br>
                    <input type="checkbox" name="breathlessness" value="breathlessness">Breathlessness<br>
                    <input type="checkbox" name="sweating" value="sweating">Sweating<br>
                    <input type="checkbox" name="dehydration" value="dehydration">Dehydration<br>
                    <input type="checkbox" name="indigestion" value="indigestion">Indigestion<br>
                    <input type="checkbox" name="headache" value="headache">Headache<br>
                    <input type="checkbox" name="yellowish_skin" value="yellowish_skin">Yellowish Skin<br>
                    <input type="checkbox" name="dark_urine" value="dark_urine">Dark Urine<br>
                    <input type="checkbox" name="nausea" value="nausea">Nausea<br>
                </div>
                <div>
                    <input type="checkbox" name="loss_of_appetite" value="loss_of_appetite">Loss of Appetite<br>
                    <input type="checkbox" name="pain_behind_the_eyes" value="pain_behind_the_eyes">Pain Behind the
                    Eyes<br>
                    <input type="checkbox" name="back_pain" value="back_pain">Back Pain<br>
                    <input type="checkbox" name="constipation" value="constipation">Constipation<br>
                    <input type="checkbox" name="abdominal_pain" value="abdominal_pain">Abdominal Pain<br>
                    <input type="checkbox" name="diarrhoea" value="diarrhoea">Diarrhoea<br>
                    <input type="checkbox" name="mild_fever" value="mild_fever">Mild Fever<br>
                    <input type="checkbox" name="yellowing_of_eyes" value="yellowing_of_eyes">Yellowing of Eyes<br>
                    <input type="checkbox" name="swelled_lymph_nodes" value="swelled_lymph_nodes">Swelled Lymph
                    Nodes<br>
                    <input type="checkbox" name="malaise" value="malaise">Malaise<br>
                    <input type="checkbox" name="blurred_and_distorted_vision"
                        value="blurred_and_distorted_vision">Blurred
                    and Distorted Vision<br>
                    <input type="checkbox" name="phlegm" value="phlegm">Phlegm<br>
                    <input type="checkbox" name="congestion" value="congestion">Congestion<br>
                    <input type="checkbox" name="chest_pain" value="chest_pain">Chest Pain<br>
                    <input type="checkbox" name="weakness_in_limbs" value="weakness_in_limbs">Weakness in Limbs<br>
                    <input type="checkbox" name="fast_heart_rate" value="fast_heart_rate">Fast Heart Rate<br>
                    <input type="checkbox" name="irritation_in_anus" value="irritation_in_anus">Irritation in Anus<br>
                    <input type="checkbox" name="neck_pain" value="neck_pain">Neck Pain<br>
                    <input type="checkbox" name="dizziness" value="dizziness">Dizziness<br>
                    <input type="checkbox" name="obesity" value="obesity">Obesity<br>
                    <input type="checkbox" name="swollen_legs" value="swollen_legs">Swollen Legs<br>
                    <input type="checkbox" name="puffy_face_and_eyes" value="puffy_face_and_eyes">Puffy Face and
                    Eyes<br>
                    <input type="checkbox" name="excessive_hunger" value="excessive_hunger">Excessive Hunger<br>
                    <input type="checkbox" name="extra_marital_contacts" value="extra_marital_contacts">Extra Marital
                    Contacts<br>
                    <input type="checkbox" name="knee_pain" value="knee_pain">Knee Pain<br>
                    <input type="checkbox" name="muscle_weakness" value="muscle_weakness">Muscle Weakness<br>
                    <input type="checkbox" name="stiff_neck" value="stiff_neck">Stiff Neck<br>
                    <input type="checkbox" name="swelling_joints" value="swelling_joints">Swelling Joints<br>
                    <input type="checkbox" name="movement_stiffness" value="movement_stiffness">Movement Stiffness<br>
                    <input type="checkbox" name="loss_of_balance" value="loss_of_balance">Loss of Balance<br>
                </div>
                <div class="three">
                    <input type="checkbox" name="unsteadiness" value="unsteadiness">Unsteadiness<br>
                    <input type="checkbox" name="weakness_of_one_body_side" value="weakness_of_one_body_side">Weakness
                    of
                    One Body Side<br>
                    <input type="checkbox" name="bladder_discomfort" value="bladder_discomfort">Bladder Discomfort<br>
                    <input type="checkbox" name="foul_smell_of_urine" value="foul_smell_of_urine">Foul Smell of
                    Urine<br>
                    <input type="checkbox" name="passage_of_gases" value="passage_of_gases">Passage of Gases<br>
                    <input type="checkbox" name="depression" value="depression">Depression<br>
                    <input type="checkbox" name="irritability" value="irritability">Irritability<br>
                    <input type="checkbox" name="muscle_pain" value="muscle_pain">Muscle Pain<br>
                    <input type="checkbox" name="red_spots_over_body" value="red_spots_over_body">Red Spots Over
                    Body<br>
                    <input type="checkbox" name="belly_pain" value="belly_pain">Belly Pain<br>
                    <input type="checkbox" name="abnormal_menstruation" value="abnormal_menstruation">Abnormal
                    Menstruation<br>
                    <input type="checkbox" name="dischromic_patches" value="dischromic_patches">Dischromic Patches<br>
                    <input type="checkbox" name="watering_from_eyes" value="watering_from_eyes">Watering from Eyes<br>
                    <input type="checkbox" name="increased_appetite" value="increased_appetite">Increased Appetite<br>
                    <input type="checkbox" name="family_history" value="family_history">Family History<br>
                    <input type="checkbox" name="mucoid_sputum" value="mucoid_sputum">Mucoid Sputum<br>
                    <input type="checkbox" name="rusty_sputum" value="rusty_sputum">Rusty Sputum<br>
                    <input type="checkbox" name="lack_of_concentration" value="lack_of_concentration">Lack of
                    Concentration<br>
                    <input type="checkbox" name="visual_disturbances" value="visual_disturbances">Visual
                    Disturbances<br>
                    <input type="checkbox" name="receiving_blood_transfusion"
                        value="receiving_blood_transfusion">Receiving
                    Blood Transfusion<br>
                    <input type="checkbox" name="coma" value="coma">Coma<br>
                    <input type="checkbox" name="history_of_alcohol_consumption"
                        value="history_of_alcohol_consumption">History of Alcohol Consumption<br>
                    <input type="checkbox" name="blood_in_sputum" value="blood_in_sputum">Blood in Sputum<br>
                    <input type="checkbox" name="palpitations" value="palpitations">Palpitations<br>
                    <input type="checkbox" name="pus_filled_pimples" value="pus_filled_pimples">Pus Filled Pimples<br>
                    <input type="checkbox" name="blackheads" value="blackheads">Blackheads<br>
                    <input type="checkbox" name="scurring" value="scurring">Scurring<br>
                    <input type="checkbox" name="inflammatory_nails" value="inflammatory_nails">Inflammatory Nails<br>
                    <input type="checkbox" name="yellow_crust_ooze" value="yellow_crust_ooze">Yellow Crust Ooze<br>
                </div>
                <div style="align-self: center;margin-left: 50px;">
                    <p style="height: 20rem;width: 15rem; font-size: 1rem;color: rgb(252, 68, 68); text-decoration: underline;;">{{prediction}}</p>
                </div>
            </div>
        </fieldset>
        <input class="button" type="submit" value="Submit">
    </form>

</body>

</html>